body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

header{
  background-image: url(img/Bikini-bottom-background.jpg);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  /* background-repeat: no-repeat */
}

@font-face{
  font-family: 'Krabby Patty';
  src: url(fonts/Krabby-Patty.ttf);
  font-style: normal;
  font-weight: 100;
}

h1, h2 {
  font-family: Krabby Patty;
  font-weight: 100;
}


/* this is changing just the h1 in the header */

header h1{
  color: yellow;
  font-size: 80px;
  font-weight: bold;
}

header img{
  border-radius: 140px;
  width: 400px;
  border: 15px solid white;
}

main{
  margin: 0 auto;
  background-image: url(img/Sponge-background.jpg);
  background-position: center;
  padding: 20px;
}

main h2, p, li{
  max-width: 800px;
  margin: 0 auto;
}


main img{
  width: 580px;
  margin: 20px 600px;
  max-height: 500px;
}

.caption{
  color: black;
  font-style: italic;
  margin: 0 850px;
}

.about{
  padding: 30px;
}

h2{
  font-size: 30px;
  color: #26B9CB;
  padding: 10px;
  margin: 0;
}

a{
  color: black;
}

a:hover{
  color:#FFF56C;
  background-color: #26B9CB;
}

